.circle-dot {
    height: 25px;
    width: 25px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
  }
.circle-dot.selected {
    background-color: red;
}